/* style.css */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

#wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Myriad Pro' sans-serif;
}

#background{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: -173px;
	background: #111 url(images/phillips1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.weimer.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='weimer.jpg', sizingMethod='scale')";
	z-index: -1;
}

#header{
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 40px;
	background: #111;
}
	#header img{
		padding-left:20px;
		padding-top: 8px;
	}
	#header span{
		font-size: 1.8em;
		color: #fff;
		padding-left:8px;
	}

#nav {
	position: absolute;
	top:40px;
	width: 100%;
	height: 310px;
	background-color: #F7F3E8;
	border-bottom: 4px solid #666;
	margin-top: -305px;
	z-index: 9;
}
	#nav-wrapper{
		width:100%;
		overflow: hidden;
	}
	#nav-places{
		margin: 0 auto;
		padding-top:10px;
		width:2000px;
		height: 200px;
	}
	.nav-thumb{
		padding:10px;
		width:150px;
		border: 1px dotted #999;
		color:#666;
		text-align: center;
		float: left;
		display: none;
		-webkit-transition: background 0.2s;
	}
	.nav-thumb:hover{
		background: #8dafce;
		-webkit-transition: background 0.2s;
	}
	#expand{
		position: absolute;
		margin: 0 auto;
		background: #F7F3E8;
		width: 150px;
		height: 40px;
		top:310px;
		left:50%;
		margin-left: -75px;
		border-left:4px solid #666;
		border-right:4px solid #666;
		border-bottom:4px solid #666;
		-webkit-border-bottom-right-radius: 15px;
		-webkit-border-bottom-left-radius: 15px;
		-moz-border-radius-bottomright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		z-index: 9;
		-webkit-transition: background 0.2s;
	}
	#expand:hover{
		background: #8dafce;
		-webkit-transition: background 0.2s;
	}
		#expand p{
			font-style: italic;
			text-align: center;
			padding-top:12px;
			cursor: pointer;
		}
#main{
	position: absolute;
	width: 100%;
	bottom:0;
	z-index: 7;
	background: #111;
	-webkit-box-shadow: 0px 0px 10px rgb(50, 50, 50);
	-moz-box-shadow:    0px 0px 10px rgb(50, 50, 50);
	box-shadow:         0px 0px 10px rgb(50, 50, 50);
}
.overlay{
	position: absolute;
	width:100%;
	height:100%;
	z-index: 2;
	background: #000;
	opacity: 0;
}

#center{
	width: 100%;
	margin: 0 auto;
	color: #DDDFE1;
	

}
	#center h2{
		text-align: center;
		font-size: 3.2em;
		font-weight: 700;
		padding:10px;
	}
	#center h4{
		text-align: center;
		font-size: 1.2em;
		margin: 0 auto;
		padding: 5px;
		
	}
#places{
	width:1000px;
	margin: 0 auto;
	padding-top: 10px;
	overflow: hidden;
}
.pin{
	display: inline-block;
	color: #DDDFE1;
	padding: 10px;
	cursor: pointer;
}
	.pin:hover{
		opacity: 1 !important;
			transition: opacity .3s;
	-moz-transition: opacity .3s; /* Firefox 4 */
	-webkit-transition: opacity .3s; /* Safari and Chrome */
	-o-transition: opacity .3s; /* Opera */
	}
	.pin img{
		padding-right: 10px;
	}
	.pin p{
		float:right;
		margin-top:15px;
		font-size: 1em;
	}
